#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Vpn ON
GenericName=Web Browser
Comment=Access the Internet
Exec=${user_home}/Desktop/.vpn-scripts/vpnstart.sh
Terminal=false
Icon=${user_home}/Desktop/.vpn-scripts/vpnon.png
Type=Application
Categories=TextEditor;Development;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
X-Ayatana-Desktop-Shortcuts=NewWindow;NewIncognito
